.container-fluid{
    width: 60%;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    font-size: 12px;
    letter-spacing: 5px;
    position: relative;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer-inverse{
    color: white;
    background-color:#222222;
}

.footer p {
    position: absolute;
	margin-top: 25px;
	font-size: 12px;
    left: 48%;
  color: #fff;
}

.btn{
   margin-top: 20px; 
}
#posts{
    border-radius: 10px;
    margin-bottom: 25px;
    width: 60%;
    padding: 20px 40px 20px 40px;
}

#posts h1{
    text-align: center;
}

.dark{
    color: black;
    background-color: none;
    display:inline ;
    border: none;
    position: absolute;
    right:  3%;
    bottom: 40%;
}

.dark:hover{
    color: white;
    background-color: black ;
}

.light{
    color: black;
    background-color: none;
    display:inline ;
    border: none;
    position: absolute;
    right:  3%;
    bottom: 40%;
}

.posting-body{
    color: black;
    width: 60%;
    position: relative;
    left: 20%;
    margin-bottom: 20px;
}

.DarkMode{
    left: 10px;
}

.colordiv{
    margin-left: 100px;
}